/* src/index.css */
@import "tailwindcss";

@theme {
  /* You can name "primary" whatever you want, like "brand" or "accent" */
  --color-purple-100: #e0e7ff; /* The light blue/indigo */
  --color-purple-500: #5046e4; /* The main vibrant color */
  --color-purple-700: #4f48b6; /* The darker, muted version */
  --color-gray-100: #eeeeef;
  --color-gray-200: #e6e9ed;
  --color-gray-600: #95989c;
}